@import "../../assetes/colors/colors";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px dashed $black;
    }
    .logo-text {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    h2{
      margin-right: 20px;
      color: $pink;
    }
        img {
            height: 20vh;
            width: 32%;
            border-radius: 50%;
            border:  1px solid $white;
            margin-right: 20px;
            
        }
    }
    .panel {
        display: flex;
        .link{
            margin: 15px;
          text-decoration: none;
        
        }
    }